*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Montserrat, Helvetica, sans-serif;
   transition: .5s;
}

::-webkit-scrollbar {
   width: 0;
 }

body{
   width: 100vw;
   height: 100vh;
   display: flex;
}

.sideMenu{
   width: 300px;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   box-shadow: 5px 0 7px rgba(0, 0, 0, 0.089);
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
}

.logo{
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 20px;
   width: 100%;
   border-bottom: 1px solid rgb(219, 219, 219);
}

.logo img{
   width: 50px;
}

.logo p{
   width: 300px;
   font-size: 24px;
   margin-left: 10px;
}

.menu{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 30px;
   margin-left: 20px;
}

.menuOption{
   display: flex;
   justify-content: start;
   align-items: center;
   margin: 10px 0;
   padding: 10px;
   width: 200px;
   border-radius: 5px;
   box-shadow: 3px 3px 7px rgba(22, 22, 22, 0.171);
   cursor: pointer;
}

.menuOption:hover{
   background-color: rgb(201, 201, 201);
}

.menuOption img{
   width: 35px;
}

.menuOption p{
   margin-left: 10px;
   color: rgb(78, 78, 78);
   font-size: 17px;
}

#ManageAll{
   background-color: rgb(76, 110, 248);
}

#ManageAll p{
   color: rgba(255, 255, 255, 0.842);
}

#ManageAll:hover{
   background-color: rgba(29, 29, 29, 0.856);
}

.contentHolder{
   flex: 1;
   margin-left: 300px;
   margin-right: 10px;
}

.contentNav{
   width: 100%;
   height: 200px;
   background-color: rgb(76, 110, 248);
   border-radius: 0 0 10px 10px;
   display: flex;
   align-items: start;
   justify-content: space-between;
   padding: 20px;
}

.searchBar{
   display: flex;
   align-items: center;
}

.searchBar input{
   border: none;
   outline: none;
   height: 40px;
   width: 250px;
   background-color: rgba(255, 255, 255, 0.158);
   border-radius: 20px 0 0 20px;
   padding: 20px;
   color: rgba(255, 255, 255, 0.808);
   font-size: 16px;
}

.searchBar input::placeholder{
   color: rgba(255, 255, 255, 0.719);
}

.searchBar button{
   width: 45px;
   height: 40px;
   border: none;
   background-color: rgba(255, 255, 255, 0.158);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0 20px 20px 0;
}

.searchBar button:hover{
   background-color: rgba(255, 255, 255, 0.26);
}

.searchBar button img{
   width: 30px;
   opacity: .8;
}

.profile{
   position: relative;
}

.profile:hover .profilePop{
   opacity: 1;
   display: flex;
}

.profile img{
   width: 55px;
}

.profilePop{
   position: absolute;
   top: 100%;
   left: 0;
   transform: translateX(-80%);
   background-color: white;
   box-shadow: 0 0 7px rgba(22, 22, 22, 0.267);
   width: 170px;
   padding: 15px;
   display: none;
   flex-direction: column;
   align-items: center;
   border-radius: 10px 0 10px 10px;
   opacity: 0;
   z-index: 100;
}

.profilePop:hover{
   display: flex;
}

.profilePop p{
   color: rgba(0, 0, 0, 0.692);
   font-size: 19px;
   text-align: center;
}

.profilePop a{
   text-decoration: none;
   border: none;
   color: white;
   background-color: rgb(255, 123, 0);
   padding: 7px;
   font-size: 15px;
   border-radius: 5px;
   margin: 7px 0;
}

.profilePop a:hover{
   background-color: rgba(29, 29, 29, 0.856);
}

.detail{
   width: 95%;
   margin: -80px auto;
   padding: 20px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 0 7px rgba(22, 22, 22, 0.24);
}

.footer{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 0;
   right: 0;
}


/* table for the catagory section */
.table-container {
   max-height: 300px;
   overflow-y: auto;
 }

 table {
   border-collapse: collapse;
   width: 100%;
   table-layout: auto;
 }

 .table-header {
   position: sticky;
   top: 0;
   background-color: rgb(76, 110, 248);
   color: white;
   font-weight: bold;
 }

 th, td {
   border: none;
   padding: 10px;
   text-align: left;
 }

 .tableRow:hover{
   background-color: rgb(204, 204, 204);
 }

/* no category found text style */
.table-container p{
   text-align: center;
   font-size: 24px;
   margin: 30px;
   color: rgba(0, 0, 0, 0.589);
}

/* add new catagory button */

.addNewBtn{
   border: none;
   background-color: rgb(76, 110, 248);
   font-size: 18px;
   color: white;
   border-radius: 0 0 0 15px;
   padding: 10px;
   margin: 20px auto;
}

.addNewBtn:hover{
   background-color: rgba(29, 29, 29, 0.856);
}