
         <div class="dashBoardTitle">
            <p class="cardTags" style="padding-right: 20px;"> <%= userStatus %> </p>
            <p class="cardResult"> <%= userName %> </p>
         </div>

         <div class="dashboardContent">

            <div class="dashboardCards firstCard centerCard">

               <p class="userInfoProduct cardTags">Total Categories
               </p>
               <p class="numberResult cardResult">89</p>

            </div>
            <div class="dashboardCards secondCard centerCard">

               <p class="userInfoProduct cardTags">Total Products</p>
               <p class="numberResult cardResult">42</p>

            </div>
            <div class="dashboardCards thirdCard centerCard">
               <p class="userInfoProduct cardTags">Total Visit</p>
               <p class="numberResult cardResult">22</p>
            </div>
            <div class="dashboardCards fourthCard centerCard">
               <p class="userInfoProduct cardTags">Total Redirect</p>
               <p class="numberResult cardResult">455</p>
            </div>

         </div>




