<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style/logIn.css">
   <title>Log-in</title>
</head>
<body>

   <div class="holder">
      <img src="/resources/logo.png" class="logo">
      <h2>LOG IN</h2>
      <form>
         
         <input name="userName" type="text" id="userName" class="input" placeholder="user name">
         <p class="userMis errText">Wrong User name.</p>
         <input name="password errText" type="password" id="password" class="input" placeholder="password">
         <p class="passwordMis errText">Wrong password!</p>
         <button type="submit" class="loginBtn">Log in</button>
      </form>
   </div>

   <script src="/script/logIn.js"></script>
</body>
</html>